html, body{
  background-image: linear-gradient(black,silver);
}
h1{
  color:white;
  font-family:"Prompt";
}
h2{
  color: white;
  font-family: "Prompt";
}
#calcOutput{
  background-color: #c3c2ab;
  font-family: "Orbitron";
  width:250px;
  height:75px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-right:auto;
  margin-left: auto;
  margin-top:20px;
  padding-top:20px;
}

#calculator{
  background-color: #373737;
  width: 250px;
  padding-top:20px;
  padding-bottom:30px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-right:auto;
  margin-left:auto;
}
#steps{
  padding-left:50px;
  font-size: 2em;
}
a{
  margin: 5px;
  font-family: "Prompt";
}
.bigButton{
  width: 97px;
}
